In [1]:
import numpy as np
import pandas as pd

In [5]:
#marging
latihan1=pd.read_csv('latihan1.csv')
latihan2=pd.read_csv('latihan2.csv')

latihan_complete=pd.merge(latihan1, latihan2, on='Nama')
latihan_complete

   Nama  IPS1  IPS2 Gender  IPK1  IPK2
0     A     2     3      M     3     3
1     B     3     2      M     3     2
2     C     3     3      F     4     3
3     D     2     3      F     2     4
4     E     3     2      F     3     2
5     F     2     3      M     2     3
6     G     3     2      F     3     4
7     H     3     3      M     3     2
8     I     2     2      M     2     2
9     J     2     4      M     3     3
10    K     3     4      F     3     4
11    L     4     2      F     4     2